CompileFlags:
  CompilationDatabase: build
  Add: [
    # C++ Standard Library Headers
    -isystem, /home/dhonan-wsl/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20260121/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0,
    -isystem, /home/dhonan-wsl/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20260121/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0/xtensa-esp-elf,

    # C Standard Library and GCC Built-ins
    -isystem, /home/dhonan-wsl/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20260121/xtensa-esp-elf/xtensa-esp-elf/include,
    -isystem, /home/dhonan-wsl/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20260121/xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include,
    -isystem, /home/dhonan-wsl/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20260121/xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include-fixed,
    
    # Target Architecture Macro
    -D__XTENSA__=1
  ]
  Remove: [
    -mlongcalls,
    -fno-tree-switch-conversion,
    -fno-shrink-wrap,
    -fstrict-volatile-bitfields
  ]